.wrap
	.container
		.reg-forms-wrap
			.input_form_wrap
				| Sign in with:
				ul.omni-list-log
					omni-item(v-for="(item, index) in items" v-bind:item="item" v-bind:key="index")
				form.input_form.input_form_log.clearfix(method='post', onsubmit='return false;')
					.error_name_wrap
						.error Invalid name or password
						a.forgot_pass(href='/reset') forgot your password?
					input(type='email', name='email_log', placeholder='email', required='')
					input(type='password', name='pass_log', placeholder='password', required='')
					.register didn`t register yet?
					input.if_submit.if_submit_log.btn(type='submit', name='submit', value='submit')
			.input_form_wrap
				| Sign up with:
				ul.omni-list-reg
					omni-item(v-for="(item, index) in items" v-bind:item="item" v-bind:key="index")
				form.input_form.input_form_reg.clearfix(method='post', onsubmit='return false;')
					.email_created
						| Регистрация прошла успешно, подтвердите аккаунт перейдя по ссылке отправлнеой вам на почту.
					input(type='text', name='name_reg', placeholder='name', required='')
					input(type='text', name='first_name_reg', placeholder='first name', required='')
					input(type='email', name='email', placeholder='email', required='')
					input(type='password', min='5', max='20', name='pass_new', placeholder='password', required='')
					input(type='password', min='5', max='20', name='pass_new_re', placeholder='repeat password', required='')

					.avatar-uploading
						| ADD AVATAR
						div.click-to-upload-avatar
							| click to upload
							i(class="fa fa-cloud-upload" aria-hidden="true")
						input(type="file" name="upload-user-avatar")
						div.upload-new-avatar-err
							| SOME ERROR
						div.upload-avatar-img-wrap
							img(v-bind:src="photoSrc")

					.if_back.btn back
					input.if_submit.if_submit_reg.btn(type='submit', name='submit', value='submit')
