<!DOCTYPE html>
html
	head
		//- link(rel='stylesheet', href='/css/style.css')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title
			| Matcha
		link(rel='shortcut icon', href='images/1.png', type='image/png')
		//- External scripts
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		script(src='https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js')
		//- Bootstrap
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
		//- External css
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
		//- Internal css
		link(rel='stylesheet', href='/css/login.css')
		//- Internal scripts
		script(type='text/javascript', src='/js/vue.js')
		script(type='text/javascript', src='/js/classes/Class.Ajax.js')
		script(type='text/javascript', src='/js/login.js')
	body!= body